@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* Start position */
  }
  50% {
    transform: rotate(180deg); /* Start and end position */
  }
  100% {
    transform: rotate(360deg); /* End position */
  }
}

.rotate-animation {
  animation: rotateAnimation 5s linear infinite;
}

@keyframes borderAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.border-animation {
  position: relative;
}

.border-animation::before {
  content: ""; /* Add an empty content for the pseudo-element */
  display: block; /* Make the pseudo-element a block-level element */
  height: 1px; /* Set the border height */
  background-color: #b8ec4c; /* Set the border color */
  width: 0; /* Initial width is 0 */
  transition: width 0.3s ease; /* Apply a transition for a smoother effect */
  position: absolute;
  bottom: -5px;
}

.border-animation:hover::before {
  width: 100%; /* Increase the width on hover */
}
